## <div class="background-image" ></div>
<h1> Blog App </h1>



<body>

<button type=onclick > <%= link_to 'New Blog Post', new_post_path, class:'clicks' %> </button>

<ul>
  <% @posts.each do |post| %>
    <li>
     <%= link_to post.title, post_path(post) %>
    </li>
  <% end %>
</ul>

</body>
